body {
    background-color: lightslategray;
}

/* Hover function */
a:hover {
    background-color: #FF00FF;
  }

/* Background of forms*/
.form-group {
    background-color: lightslategrey;
}

/* Footer */
footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}