body {
    background-color: lightslategray;
}

.form-group {
    background-color: lightslategrey;
}

.card-deck {
    padding: 3%;
    margin-left: 25px;
    margin-right: 25px;
    background-color: lightslategrey;
    border: black;
    border-width: thick;
    font: black;
    
}

.card {
    background-color: lightslategrey;
    border: black;
    border-width: thick;
}

.card-body {
    border: thick;
    border-width: thick;
    font: black;
}

footer {
    text-align: center;
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}