body {
    background-color: lightslategray;
}

a:hover {
    background-color: #FF00FF;
  }

.form-group {
    background-color: lightslategrey;
}

/* Cards content */

.card-deck {
    padding: 3%;
    margin-left: 25px;
    margin-right: 25px;
    background-color: lightslategrey;
    border: black;
    border-width: thick;
    font: black;
    
}

.card {
    background-color: lightslategrey;
    border: black;
    border-width: thick;
    padding: 25px;
}

.card-body {
    border: thick;
    border-width: thick;
    font: black;
}

#card-2 {
    margin-top: 115px;
}

/* Footer */

footer {
    text-align: center;
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}